.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 100%;
    padding: 1.4rem 1rem 0 1rem;
    background-color: var(--color-superficie);
    box-shadow: 1px 0px 10px var(--sombra-borde);
    transition: width o.5s aese;
}

.barra-lateral.minimizar {
    width: 4.94rem;
}

.menu-header {
    width: 100%;
}

.menu-btn {
    position: absolute;
    top: 3.5%;
    right: -0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #fff;
    color: #757575;
    box-shadow: 2px 2px 5px var(--sombra-borde);
    cursor: pointer;
    transition: right 0.3s ease;
}

.menu-btn i {
    font-size: 1.5rem;
}

.barra-lateral.minimizar .menu-btn {
    right: -2.2rem;
}

.barra-lateral.minimizar .menu-btn i {
    transform: rotate(180deg);
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-left: 0.455rem;
    margin-bottom: 1.8rem;
    overflow: hidden;
}

.logo img {
    border-radius: 50%;
    width: 2rem;
    border: 2px solid var(--color-borde);
}

.logo span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-texto-primario);
}

.menu-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.buscar {
    display: flex;
    width: 100%;
    padding: 0.55rem 0;
    margin-bottom: 1.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 1px var(--color-borde);
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.buscar:hover {
    box-shadow: 0 0 0 1px var(--color-texto-primario);
}

.barra-lateral.minimizar .buscar {
    box-shadow: none;
}

.barra-lateral.minimizar .buscar:hover {
    background-color: var(--color-fondo);
}

.buscar i {
    font-size: 1.35rem;
    color: var(--color-texto-secundario);
    padding: 0 0.8rem;
}

.buscar i {
    color: var(--color-texto-secundario);
}

.buscar input {
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-texto-primario);
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu .menu-elemento {
    position: relative;
    list-style: none;
    overflow: hidden;
}

.menu .menu-link {
    display: flex;
    padding: 0.55rem 0;
    color: var(--color-texto-secundario);
    text-decoration: none;
    border-radius: 0.33rem;
}

.sub-menu .sub-menu-link:hover,
.menu-elemento:hover .menu-link,
.menu-elemento.active .menu-link {
    color: var(--color-texto-primario);
    background-color: var(--color-fondo);
}

.menu-link i {
    font-size: 1.35rem;
    padding: 0 0.8rem;
}

.menu-link i:last-child {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.barra-lateral.minimizar .menu-link i:last-child {
    display: none;
}

.menu-elemento.sub-menu-toggle .menu-link i:last-child {
    transform: rotate(180deg);
}

.menu-link span {
    font-size: 0.8rem;
    font-weight: 500;
}

.barra-lateral.minimizar .menu-elemento:hover,
.barra-lateral.minimizar .menu-elemento.sub-menu-toggle {
    overflow: visible;
}

.barra-lateral.minimizar .menu-elemento:hover span,
.barra-lateral.minimizar .menu-elemento.sub-menu-toggle span {
    position: absolute;
    left: 4.2rem;
    padding: 0.5rem;
    background-color: var(--color-fondo-ayuda);
    border-radius: 0.4rem;
    color: var(--color-texto-ayuda);
    transition: all 0.3s ease;
}

.sub-menu {
    height: 0;
    transition: height 0.5s ease;
    overflow: hidden;
    left: 0;
}

.barra-lateral.minimizar .sub-menu {
    position: absolute;
    left: 4.2rem;
    top: 3rem;
    background-color: var(--color-superficie);
    border-radius: 0.2rem;
}

.sub-menu .sub-menu-link {
    display: flex;
    margin-left: 2.5rem;
    padding: 0.55rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--color-texto-secundario);
    text-decoration: none;
    border-radius: 0.33rem;
}

.sub-menu::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.07rem;
    margin-left: 1.4rem;
    background-color: var(--color-borde);
}

.barra-lateral.minimizar .sub-menu::before {
    width: 0;
}

.barra-lateral.minimizar .sub-menu a {
    margin: 0 0.5rem;
}

.menu-footer {
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 -0.02rem 0 0 var(--color-borde);
}

.usuario {
    display: flex;
    margin-top: 1rem;
    overflow: hidden;
}

.usuario-img {
    display: flex;
    margin: 0 0.7rem 0 0.35rem;
}

.usuario-img img {
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.usuario-datos {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
}

.usuario-datos .nombre {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-texto-primario);
}

.usuario-datos .email {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-texto-secundario);
}

.usuario-icon {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--color-texto-secundario);
}

.barra-lateral-btn {
    display: none;
}

@media (max-height: 657px) {
    .footer {
        box-shadow: none;
    }

    .footer ul {
        display: none;
    }

    .buscar {
        box-shadow: none;
        border: 2px solid var(--color-borde);
    }
}

@media (max-width: 700px) or (max-height: 657px) {
    #menu-btn {
        display: none;
        ;
    }

    .barra-lateral {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .barra-lateral-btn {
        display: flex;
        right: 1rem;
        padding: 1.2rem;
    }

    .barra-lateral-btn i:last-child {
        display: none;
    }

    body.barra-lateral-oculto .barra-lateral {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }

    body.barra-lateral-oculto .barra-lateral-btn i:last-child {
        display: flex;
    }

    body.barra-lateral-oculto .barra-lateral-btn i:first-child {
        display: none;
    }
}